body {
    background-image: linear-gradient(to right, rgb(233, 156, 168), rgb(153, 195, 227));
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
}
.navbar {
    background-color: #6a9faf; 
    padding: 10px 20px; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}


.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}


.navbar ul li {
    margin: 0 15px; 
}

.navbar ul li a {
    text-decoration: none; 
    color: white; 
    font-size: 1.2rem; 
    font-weight: bold;
    padding: 8px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}


.navbar ul li a:hover {
    background-color: #507c89; 
}
body img{ margin-top: 100px ;
    
}


